body {
	/*margin: 0 auto;*/
	/*padding: 0;*/
	font: 76% Verdana,Tahoma,Arial,sans-serif;
	background: url(bg.gif);
	/*text-align: center*/
}

/*
td {
font: 76% Verdana,Tahoma,Arial,sans-serif;
vertical-align: top
}
*/
#wrap {
	background: #ffffff;
	color: #303030;
	margin: 0 auto;
	margin-top: 1em;
	padding: 10px;
	width: 760px;
	/*text-align: left*/
}

#header {
	background: #d56e3a;
	/*clear: both;*/
	margin-bottom: 10px;
	padding: 5px;
	/*height: 45px;*/
}

/*
#header h1 {
width: 250px;
margin: 0 0 10px 0;
float: left;
}

#header p {
width: 500px;
float: right;
text-align: center;
color: #a0a0a0;
margin: 0 0 10px 0;
font-size: 0.8em;
line-height: 1.2em;
}

#frontphoto {
margin: 0 0 10px 0;
border: 0;
}
*/
#avmenu {
	clear: left;
	float: left;
	width: 150px;
	margin: 0 0 10px 0;
	/*padding: 0;*/
	font-size: 0.9em;
}

#avmenu ul {
	list-style: none;
	width: 150px;
	margin: 0 0 20px 0;
	/*padding: 0;*/
	font-size: 1.1em;
}	

#avmenu li {
	/*margin-bottom: 4px;*/
}

#avmenu li a {
	margin-bottom: 4px;
	font-weight: bold;
	height: 20px;
	display: block;
	padding: 6px 0 0 10px;
	background: #f4f4f4;
	border-left: 4px solid #cccccc;
	color: #505050;
}	
	
#avmenu li span {
	margin-bottom: 4px;
	font-weight: bold;
	height: 20px;
	display: block;
	padding: 6px 0 0 10px;
	background: #d4d4d4;
	border-left: 4px solid #d4d4d4;
}

#avmenu li a:hover {
	background: #eaeaea;
	color: #286ea0;
	border-left: 4px solid #286ea0;
}

.announce {
	margin: 10px 0 10px 0;
	padding: 10px;
	width: 130px;
	color: #505050;
	background-color: #f4f4f4;
	line-height: 1.3em;
}

.announce p {
	margin: 10px 0 10px 0;
}

/*#extras {
float: right;
width: 100px;
margin: 0 0 10px 0;
padding: 0;
font-size: 0.9em;
line-height: 1.5em;
}

#extras p {
margin: 0 0 1.5em 0;
}
*/
#content {
	margin: 0 10px 20px 160px;
	border-left: 1px solid #f0f0f0;
	border-right: 1px solid #f0f0f0;
	padding: 0 10px 0 10px;
	line-height: 1.6em;
	text-align: left;
}

#content h2 {
font-size: 1.5em;
margin: 0 0 0.5em 0;
}

#content img {
	padding: 1px;
	display:inline;
	background: #cccccc;
	border: 4px solid #f0f0f0;
}

#content p {
	margin-bottom: 10px;
}

.directory_listing {
	margin-bottom: 10px;
}

/*.q {
font-weight: bold;
background: #eeeeee;
}

h3 {
font-size: 1.3em;
margin: 0 0 10px 0;
}*/

a {
	text-decoration: none;
	color: #286ea0;
}

a:hover {
	text-decoration: underline;
	color: #286ea0;
}

/*a img {
border: 0;
}*/

#footer {
	clear: both;
	margin: 0 auto;
	padding: 10px 0 20px 0;
	border-top: 4px solid #f0f0f0;
	width: 760px;
	text-align: center;
	color: #808080;
	font-size: 0.9em;
}

#footer a {
color: #808080;
	text-decoration: none;
}

#footer a:hover {
	text-decoration: underline;
}

.floatleft {float: left;}
.floatright {float: right;}

/*.textright {
text-align: right;
}

.center {
text-align: center;
}

.small {
font-size: 0.8em;
}

.bold {
font-weight: bold;
}

.hide {
display: none;
}*/

/* For the amsler kitty table */
.gradient-style {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 1.2em;
	#margin: 5em;
	text-align: left;
	border-collapse: collapse;
}

.gradient-style th {
	font-size: 1.3em;
	font-weight: normal;
	padding: 0.6em;
	background: #b9c9fe url('gradhead.png') repeat-x;
	border-top: 2px solid #d3ddff;
	border-bottom: 1px solid #fff;
	color: #039;
}

.gradient-style td {
	padding: 0.6em;
	border-bottom: 1px solid #fff;
	background: #e8edff url('gradback.png') repeat-x;
	color: #669;
	border-top: 1px solid #fff;
}

.gradient-style tbody tr:hover td {
	background: #d0dafd url('gradhover.png') repeat-x;
	color: #339;
}
