<h2>Archaeology</h2>
<p>I have been dealing with computers of one sort or another for almost 40 years now.  Along the way I've accumulated some war stories that you may be interested in.  These stories also serve as examles of my experience, even if they are too obsolete to otherwise crow about.  They were cool in their time.</p>
