<h2>Ckwestor</h2>
<p>The purpose of Ckwestor is to make charcoal from agricultural debris and mix that charcoal into the soil.  Doing so addresses three problems:<p>
<ul>
	<li>It reduces the quantity of CO2 and other pollutants that go into the air from the burning of agricultural waste.</li>
	<li>It improves the quality of the soil.</li>
	<li>It sequesters carbon in the soil.</li>
</ul>

