<% content_for :breadcrumbs do %>
	<%= "Index" %>
<% end %>

<% content_for :meta_description do %>
	<%= "fireCloud Solutions develops innovative solutions for general business problems" %>
<% end %>

<% content_for :meta_keywords do %>
	<%= "fyrecloud thomas radloff android rails get laid" %>
<% end %>

<h2>What is fyreCloud Solutions ?</h2>
<p>
fyreCloud Solutions is in the business of solving general business problems.  More specifically this usually means 
that we help you build software that does what you want. It is owned by Thomas Radloff.  Mr. Radloff has
over 30 years of experience with software development.  Radloff and his team know more than just this or that tech.  Instead
they see the big picture and understand how it all fits together.  Whatever your computing needs are, we can help you 
analyse your choices, teach you how to implement the solutions yourself, do it for you, or any mix of all of the above.
</p>
