<% content_for :breadcrumbs do %>
	<%= "Rails" %>
<% end %>

<h2>Ruby on Rails</h2>
<p>We have been working with Ruby and Rails since 2007.  Our projects include:</p>

<div class="floatleft directory_listing" style="background: #fafafa; padding:0.5em">
	<p>
	<a href="http://drumagog.com">
	<img src="assets/images/drumagog-home-240.png" class="floatright" style="margin-left: 10px;" />
	</a>
	<b>Drumagog.</b> This app provides online sales for Drumagog.  It enables the customers pay by credit card, manage their accounts, 
products, upgrades, and licensing.  It provides an admin/cms area that enables the admin users to modify the 
content of the site as well as sales reporting.
	</p>
</div>

<div class="floatleft directory_listing style="padding:0.5em">
	<p>
	<a href="fyrecloud.com:8080">
	<img src="assets/images/becausewhy-study-240.png" class="floatleft" style="margin-right: 10px;" />
	</a>
	<b>BecauseWhy.</b> This app enables Chinese language students to study English vocabulary and pronunciation.  It 
contains a sophisticated scoring system whereby the system learns how well the students know each word, and it
tailors the study program to accommodate student progress.
	</p>

</div>

<div class="floatleft directory_listing" style="background: #fafafa; padding:0.5em">
<p>
<a href="">
<img src="assets/images/rails_logo.png" class="floatright" style="margin-left: 10px;" />
</a>
<b>Ckwestor.</b> Ckwestor is an effort to make charcoal from agricultural waste and mix it into farm soil.  The purpose
of doing this is to sequester atmospheric carbon in the soil, improve the soil quality, and reduce air pollution from 
the burning of agricultural debris.
</p>
</div>

