<p><strong>Satisfied customers:</strong></p>
<p>It's been a pleasure working with you on [our project].  Your insight and tenacity in solving the issues we encountered, as well as your bizarre sense of humor, was of enormous help in implementing our vision. -- LL</p>
<p>Thanks for all your help.  I don't know how we ever would have gotten our server running again... -- TK</p>
<p>I very much appreciate your patience and organized explaination of how web development works.  You've helped me cut through the fog.  -- BW</p>
